<%
var variables = variables;
//var pathlessFilename = filename.slice(filename.lastIndexOf("\\") + 1); //パスなし、単独のファイル名
id = filename.slice(filename.lastIndexOf("\\") + 1).replace(/\.ejs/g, ''); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から末尾までの文字列を切り取り、".ejs"の4文字を取り除く=拡張子なしのファイル名
var newsjson = newsjson;
var commonVar = commonVar;
var navbarHeight = commonVar["navbar-height"].replace(/\px/g, ''); //commonVarの中のナビゲーションバーの高さの値からpxを取り除き、数字だけにする(bodyタグのdata-offsetに使用)
%>
<%- include("util/_year", { variables, id }) %>
<%- include("util/_pathdir", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<div id="barba-wrapper">
<div class="barba-container">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("index/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>" id="<%= id %>Main">
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-fw fa-home" aria-hidden="true"></i>ホーム</li>
        </ol>
        <section class="container-fluid" id="about">
            <div class="row">
                <article class="col-xs-12">
                    <div class="page-header">
                        <h2>このサイトについて<small>About Site</small></h2>
                    </div>
                    <p><ruby>This website show that's Internet Explorer is enfant terrible.<rp>(</rp><rt>このサイトはIEが恐るべき存在であることを示しています。</rt><rp>)</rp></ruby></p>
                    <h3>概要</h3>
                    <p>IEは今までもWebデザイナーやプログラマー、フロントエンドエンジニアを泣かせてきました。そして、それは今もなお続いています。</p>
                    <p>そこで、今までに遭遇したIEのトラブルをまとめてみることにしました。</p>
                    <p>IEさんマジ卍。</p>
                    <p class="btnWrapper"><a href="./about.html" class="btnLink"><span>詳細な概要</span></a></p>
                </article>
            </div>
        </section>
        <section class="container-fluid niceBoat" id="niceBoat">
            <div class="row">
                <article class="col-xs-12">
                    <div class="page-header">
                        <h2>IEさんのカッケーところ<small>Nice boat IE</small></h2>
                    </div>
                    <p>IEさんのイカすところのほんの一部をこのサイトで再現しています。具体的には</p>
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-internet-explorer" aria-hidden="true"></i>Pjax, 特に<a href="http://barbajs.org/">Barba.js</a>が動いてくれない</li>
                        <li><i class="fa fa-li fa-internet-explorer" aria-hidden="true"></i>一部のOpenTypeフォントを読み込めない。読み込み可能にするには、ツールを使ってフォントのデータを改変する必要があるのだが、その<strong>ツールはWindows10では動作しない</strong></li>
                        <li><i class="fa fa-li fa-internet-explorer" aria-hidden="true"></i>Flexboxの中で中央寄せのために<code>margin: 0 auto;</code>を使うと<strong>中央ではなく右に寄る</strong></li>
                        <li><i class="fa fa-li fa-internet-explorer" aria-hidden="true"></i><strong>スクロールバーの裏側までページが描画</strong>され、その分右に寄っているような表示になってしまう。右端から出現するタイプのページトップへ戻るボタンが実装されていると押しづらい</li>
                    </ul>
                    <p>IEさんマジ卍。</p>
                </article>
            </div>
        </section>
        <section class="container-fluid" id="news">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="page-header">
                        <h2>記事一覧<small>Articles</small></h2>
                    </div>
                    <p>新着情報一覧(最新<%=  variables.param[id].newscount %>件)です。過去の履歴は下記ボタンより。</p>
                    <p class="btnWrapper"><a href="./news/news1.html" class="btnLink"><span>記事一覧</span></a></p>
                </div>
                <div class="col-sm-12 col-md-9">
                    <ul class="list-group">
<% for(var i in newsjson.news) {
    if(i <  variables.param[id].newscount) {
        var datetime = newsjson.news[i].time.replace(/\//g, "-");
        var idTime = newsjson.news[i].time.replace(/\//g, "");
%>
                        <li class="list-group-item">
                            <a href="./news/news1.html?anchor=<%= newsjson.news[i].id %>-<%= idTime %>">
                                <h3 class="news_header"><%= newsjson.news[i].title %></h3>
                                <time class="news_createtime" datetime="<%= datetime %>"><%= newsjson.news[i].time %></time>
                                <p><%- newsjson.news[i].excerpt %></p>
                            </a>
                        </li>
<%
    }
}
%>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container-fluid environment">
            <div class="row">
                <article class="col-xs-12">
                    <div class="page-header">
                        <h2>動作環境<small>Operating Environment</small></h2>
                    </div>
                    <p>このサイトは下記のブラウザで動作を確認しています。</p>
                    <h3>PC</h3>
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-firefox" aria-hidden="true"></i>Firefox 58</li>
                        <li><i class="fa fa-li fa-chrome" aria-hidden="true"></i>Chrome 64</li>
                        <li><i class="fa fa-li fa-chrome" aria-hidden="true"></i>Vivaldi 1.14</li>
                    </ul>
                    <p class="environment_ie">くれぐれもIEでは閲覧しないでください。良いですか？<strong>絶対にIEでは閲覧しないでくださいね？</strong>IEでの動作は一切保障しません。</p>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

</div>
</div>
<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<%- include("partial/_barba_effect", { id }) %>

<script src="<%= path %>js/lib.min.js"></script>
<script src="<%= path %>js/<%= variables.param[id].js %>.js"></script>
</body>
</html>